<div ng-controller="NavbarCtrl" layout="column">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Navigation" ng-click="goBack()" ng-if="currentTitle === 'Class'">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </md-button>
      <h2>
        <!-- <span ng-click="go('#')">{{ currentTitle }}</span> -->
        <span><strong>{{ currentTitle }}</strong></span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Navigation" ng-click="getLocation()" ng-if="currentTitle === 'Queued Up For'">
        <span class="glyphicon glyphicon-map-marker"></span>
      </md-button>
      <md-button class="md-icon-button" aria-label="Navigation" ng-click="toggleRight()">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </md-button>
    </div>
  </md-toolbar>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar ng-controller="RightCtrl" class="md-theme-light">
        <h1 class="md-toolbar-tools cell">
          <md-button class="md-icon-button cell" aria-label="Navigation" ng-click="close()">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </md-button>
          Navigation
        </h1>
      </md-toolbar>
      <md-content class="cell" ng-controller="RightCtrl" flex layout-padding>
        <div layout="column">
          <md-button ng-click="close(); go('/current')" class="md-primary">
            Queued Up For
          </md-button>
          <md-button ng-click="close(); go('/queues')" class="md-primary">
            Queues
          </md-button>
          <md-button ng-click="close(); go('/grades')" class="md-primary">
            Grades
          </md-button>
          <md-button ng-click="close(); go('/')" class="md-primary">
            Logout
          </md-button>
        </div>
      </md-content>
    </md-sidenav>
  </section>
</div>
