<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-controller="CurrentCtrl" layout="column" layout-fill>
  <md-content class="md-hue-1" layout-padding>
    <md-list>
      <md-list-item class="md-3-line cell" ng-repeat="item in class_list">
        <!-- <img ng-src="{{item.face}}" alt="{{item.who}}" class="md-avatar"> -->
        <div class="md-list-item-text" ng-click="go('/queues_class')">
          <h3>{{item.what}}</h3>
          <!-- <h4>{{item.who}}</h4> -->
          <p>
            {{item.notes}}
          </p>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</div>
